# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/node_modules/
/src/main/webapp/META-INF/

# local env files
.env.local
.env.*.local
src/main/webapp/design/script/vue/0.js
src/main/webapp/design/script/vue/1.js
src/main/webapp/design/script/vue/2.js
src/main/webapp/design/script/vue/3.js
src/main/webapp/design/script/vue/4.js
src/main/webapp/design/script/vue/5.js
src/main/webapp/design/script/vue/6.js
src/main/webapp/design/script/vue/7.js
src/main/webapp/design/script/vue/8.js
src/main/webapp/design/script/vue/9.js
5.css
src/main/webapp/design/script/vue/10.js
src/main/webapp/design/script/vue/11.js
src/main/webapp/design/script/vue/12.js
src/main/webapp/design/script/vue/13.js
7.css
