/* ----------------------------------------------------------------------------------------------  
Effects for enhancing UX
-------------------------------------------------------------------------------------------------  */

/* ----------------------------------------------- 
Element load effects
-------------------------------------------------- */

/* Add this class to the element to slide in from the bottom with an additional fade in effect */
.fadeInAndSlideInFromBottom {
	animation-name: fadeInAndSlideInFromBottom;
	animation-duration: 1.4s;
	animation-fill-mode: both;
}

@keyframes fadeInAndSlideInFromBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 70%, 0);
		-ms-transform: translate3d(0, 70%, 0);
		transform: translate3d(0, 70%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

/* Add this class to the element to slide in from the top with an additional fade in effect */
.fadeInAndSlideInFromTop {
	animation-name: fadeInAndSlideInFromTop;
	animation-duration: .7s;
	animation-fill-mode: both;
}

@keyframes fadeInAndSlideInFromTop{
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

/* ----------------------------------------------- 
Link hover effects
-------------------------------------------------- */

/* Add the classes topBottomSlideIn before after to add a cool effect for link */
a, a:visited, a:hover, a:active {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	transition: 0.5s color ease;
	text-decoration: none;
}

a.topBottomSlideIn:before, a.topBottomSlideIn:after {
	content: "";
	transition: 0.5s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

a.topBottomSlideIn:before {
	top: -0.55em;
}

a.topBottomSlideIn:after {
	bottom: -0.30em;
}

a.topBottomSlideIn:before, a.topBottomSlideIn:after {
	height: 2px;
	height: 0.10rem;
	width: 0;
	background: #00539C;
}

a.topBottomSlideIn:hover:before, a.topBottomSlideIn:hover:after {
	width: 100%;
}

a.topBottomSlideIn:before {
	left: 0;
}

a.topBottomSlideIn:after {
	right: 0;
}

/* Add the classes borderSlideIn and buttonBorderSlideIn before after to add a cool effect for link */
button, button:visited, button:hover, button:active {
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#5e4c41;
}

button.borderSlideIn:before, button.borderSlideIn:after {
	content: "";
	transition: 0.5s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

button.borderSlideIn:before {
	top: -0.55em;
}

button.borderSlideIn:after {
	bottom: -0.35em;
}

button.borderSlideIn:before, button.borderSlideIn:after {
  height:2px;
	width: 0;
	background: #00539C;
}

button.borderSlideIn:hover:before, button.borderSlideIn:hover:after {
	width: 100%;
}

button.borderSlideIn:before {
	left: 0;
}

button.borderSlideIn:after {
	right: 0;
}

.buttonBorderSlideIn {
	box-sizing: border-box;
	margin-left: -0.4em;
	position: relative;
	overflow: hidden;
}

.buttonBorderSlideIn button {
	position: static;
	padding: 0.2em 0.4em;
}

.buttonBorderSlideIn:before, .buttonBorderSlideIn:after {
	content: "";
	box-sizing: border-box;
	transition: 0.25s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	width: 2px;
	height: 0;
	background: #00539C;
}

.buttonBorderSlideIn:before {
	left: 0;
	bottom: -0.3em;
}

.buttonBorderSlideIn:after {
	right: 0;
	top: -0.5em;
}

.buttonBorderSlideIn button:before {
	left: 0;
	transition: 0.25s all ease;
}

.buttonBorderSlideIn button:after {
	right: 0;
	transition: 0.25s all ease;
}

.buttonBorderSlideIn:hover:before, .buttonBorderSlideIn:hover:after {
	height: calc(100% + .8em);
}

.buttonBorderSlideIn:hover a:before, .buttonBorderSlideIn:hover a:after {
	width: 100%;
}

/* ----------------------------------------------- 
Navigation menu effects
-------------------------------------------------- */

/* navigation icon menu */
.nav-icon-menu {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.nav-icon-menu span {
	background-color: #5e4c41;
	position: absolute;
	border-radius: 1em;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
	width: 100%;
	height: .15em;
}

.nav-icon-menu span:nth-child(1) {
	top: 0;
	left: 0;
}

.nav-icon-menu span:nth-child(2) {
	top: 8.5px;
	left: 0px;
}

.nav-icon-menu span:nth-child(3) {
	bottom: 0;
	left: 0;
}

.nav-icon-menu:not(.open):hover span:nth-child(1) {
	transform: scaleX(.8);
}

.nav-icon-menu:not(.open):hover span:nth-child(2) {
	transform: scaleX(.5);
}

.nav-icon-menu:not(.open):hover span:nth-child(3) {
	transform: scaleX(.8);
}

.nav-icon-menu.open span:nth-child(1) {
	transform: rotate(-45deg) scaleX(0.7);
	top: 8px;
	left: -4px;
}

.nav-icon-menu.open span:nth-child(2) {
	transform: scale(0);
	transition-duration: 50ms
}

.nav-icon-menu.open span:nth-child(3) {
	transform: rotate(45deg) scaleX(0.7);
	top: 8px;
	left: 4px;
}

/* navigation icon language */

.nav-icon-language {
	-webkit-transition: -webkit-transform ease-in-out .7s, background 0.2s;
	-moz-transition: -moz-transform ease-in-out .7s, background 0.2s;
	transition: transform ease-in-out .7s, background 0.2s;
	width: 25px;
}

.nav-icon-language:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.nav-icon-language:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.nav-icon-language:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform ease-in-out .7s, background 0.2s;
	-moz-transition: -moz-transform ease-in-out .7s, background 0.2s;
	transition: transform ease-in-out .7s, background 0.2s;
}

.nav-icon-language:hover {
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
	-webkit-transition: -webkit-transform ease-in-out .7s, background 0.2s;
	-moz-transition: -moz-transform ease-in-out .7s, background 0.2s;
	transition: transform ease-in-out .7s, background 0.2s;
}

.nav-icon-language:hover i {
	color: #fff;
}

.nav-icon-language:hover:after {
	-webkit-animation: sonarEffect 1s ease-out 75ms;
	-moz-animation: sonarEffect 1s ease-out 75ms;
	animation: sonarEffect 1s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 50px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #3851bc, 0 0 0 5px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}