/* ----------------------------------------------------------------------------------------------  
Common styling - Applicable to all pages
-------------------------------------------------------------------------------------------------  */

/* ----------------------------------------------- 
Mensa fonts
-------------------------------------------------- */

/* Use this for global font styling */
@font-face {
	font-family: mensa;
	src: url(/website/design/style/font/AvenirLTStd-Roman.otf);
}

/* Use this for page titles only */
@font-face {
	font-family: title;
	src: url(/website/design/style/font/Adequate-ExtraLight.ttf);
}

/* ----------------------------------------------- 
Html elements
-------------------------------------------------- */

/* Set global styles for document body */
body {
	color: #5e4c41;
	font-family: mensa;
	background: url('/website/design/layout/image/background/black-pattern.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Style the navigation bar */
nav {
	border-bottom: solid 0.02em #5e4c41;
	background: linear-gradient(to bottom, #003d74, 35%, transparent), url('/website/design/layout/image/background/black-pattern.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

/* Style the title of every page */
h1 {
	font-family: title;
	border-bottom: .03em solid #00539C;
	padding-bottom: .5em;
}

button {
	background-color: transparent;
	border: none;
	color: #7f6757;
}

.primary {
	color: #00539C;
}

.nav-language {
	display: none;
}