/* ----------------------------------------------------------------------------------------------  
Common styling - Applicable to all pages
-------------------------------------------------------------------------------------------------  */

@import "bootstrap-mensa-variables";

/* ----------------------------------------------- 
Mensa fonts
-------------------------------------------------- */

/* Use this for global font styling */
@font-face {
	font-family: mensa;
	src: url(/design/style/font/AvenirLTStd-Roman.otf);
}

/* Use this for page titles only */
@font-face {
	font-family: title;
	src: url(/design/style/font/Adequate-ExtraLight.ttf);
}

/* ----------------------------------------------- 
Html elements
-------------------------------------------------- */

/* Set global styles for document body */
body {
	color: $primary;
	font-family: mensa;
	background: url('/design/layout/image/background/black-pattern.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 4rem;
	min-height: 100%;
	display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Style the navigation bar */
nav {
	border-bottom: solid .02em $primary;
	background: linear-gradient(to bottom, $secondary, 35%, transparent), url('/design/layout/image/background/black-pattern.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Style the title of every page */
h1 {
	font-family: title;
	border-bottom: .03em solid $primary;
	padding-bottom: .5em;
}

/* Style the footer of every page */
footer {
	font-family: title;
	border-top: .03em solid $primary;
	padding: 1em;
}

/* Needed for sticky footer */
html, body {
  height: 100%;
}

/* Needed for sticky footer */
body {
  display: flex;
  flex-direction: column;
}

/* Needed for sticky footer */
.content {
  flex: 1 0 auto;
}

/* Needed for sticky footer */
.footer {
  flex-shrink: 0;
}
