<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" metadata-complete="false" version="4.0">

	<!-- Web configuration. -->

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Defaults +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<welcome-file-list>

		<!-- Mandatory to configure the welcome-file, otherwise the URL "/" will give a 403 error page (Forbidden) -->
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ JSF ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Authentication +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<login-config>

		<!-- Custom form for authentication -->
		<auth-method>FORM</auth-method>

		<form-login-config>

			<!-- <form-login-page>/authentication/authentication.xhtml</form-login-page> -->
			<form-login-page>/authentication/authentication-original.xhtml</form-login-page>
			<form-error-page>/authentication/authentication-failed.html?faces-redirect=true</form-error-page>

		</form-login-config>

	</login-config>

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Authorization ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<security-constraint>

		<web-resource-collection>

			<!-- Not used by any application, but mandatory -->
			<web-resource-name>default</web-resource-name>

			<!-- Use recursive asterisk like this: /folder/* -->
			<!-- Don't use it like this: /folder -->
			<url-pattern>/member/*</url-pattern>

		</web-resource-collection>

		<!-- When no auth-constraint entries are present, no authentication is done! This is an equivalent of switching off any authentication method enabled through the 
			auth-method tag in the login-config tag -->
		<auth-constraint>

			<role-name>*</role-name>

		</auth-constraint>

	</security-constraint>

	<!-- Application roles. Mandatory -->
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>board</role-name>
	</security-role>
	<security-role>
		<role-name>member</role-name>
	</security-role>
	<security-role>
		<role-name>translator</role-name>
	</security-role>
	<security-role>
		<role-name>visitor</role-name>
	</security-role>

</web-app>